
.env*
!.env.example
auth.json

/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/sync
/storage/offline
/storage/temp_sync
/storage/*.key
/storage/pail

/vendor
/node_modules

/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json

.vscode
.idea
.nova
.zed
.phpactor.json

.phpunit.result.cache
.phpunit.cache
bootstrap/cache
.DS_Store
Thumbs.db
*.log
_ide_helper.php
Homestead.json
Homestead.yaml
.cursor
.codex